@{
    <title>@ViewData["Title"] - Home</title>
}

<div class="text-center">
    <h1 class="display-4">BrabantPong</h1>
    <p>Welkom op de hoofdpagina!<br />
        Dit is de plek waarop u terecht komt wanneer u de applicatie opstart.<br />
        Hierboven heeft u nog drie andere links die u leiden naar de index van elke gescaffolde view van de database tabellen.<br />
        Elke pagina maakt gebruik van de layout van _Layout.cshtml
    </p>
</div>
