@model Asp_Net_Opdracht1.Models.Speler

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Speler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Club_Id" class="control-label"></label>
                <input asp-for="Club_Id" class="form-control" />
                <span asp-validation-for="Club_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speler_Voornaam" class="control-label"></label>
                <input asp-for="Speler_Voornaam" class="form-control" />
                <span asp-validation-for="Speler_Voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="speler_Achternaam" class="control-label"></label>
                <input asp-for="speler_Achternaam" class="form-control" />
                <span asp-validation-for="speler_Achternaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
